<br>
<div class="jumbotron">
  <h1>Blocmarks</h1>
  <p>Blocmarks is a resource for saving and sharing bookmarks!</p>
  <p>
    <%= link_to 'Sign In', 'new_session_path' %> or
    <%= link_to 'Sign Up', 'new_user_path', class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Simple to add bookmarks</h2>
    <p>Add bookmarks via Email. And other stuff, etc. Such as
      something. But wait!, there's more. Add bookmarks via
      your own email client using your own fingers.
    </p>
  </div>
  <div class="col-md-4">
    <h2>View other's bookmarks</h2>
    <p>Forward their money and education to those in need, all
      over the world. And do so much more. And whatever else
      it takes to take up this space in a pleasing manner.</p>
  </div>
  <div class="col-md-4">
    <h2>Create a private list</h2>
    <p>Blocmarks will make you a better person. You no longer need to hide your browser history from your family and the authorities.</p>
  </div>
</div>
